<%= link_to group_path(group) do %>
<div class="card-groupe-container">
  <div class="card border-orange" style="max-width: 810px;">
      <h5 class="title-index"><%= group.title %></h5>
      <div class="cover-group">
        <div class="cover-group-image">
        <% if group.cover_banner.attached? %>
          <%= cl_image_tag group.cover_banner.key, class: "image-cover-group" %>
        <% end %>
        </div>
      </div>

      <div class="card-body-groupe text-end">
        <div class="index-medium-text">
          <p class="index-card-medium-text"><small>Membres du groupe</small></p>
        </div>

        <small class="text-muted">
          <ul>
          <% group.members.each do |member| %>
          <li>
          <% if member.avatar.attached? %>
          <%= image_tag member.avatar.variant(resize_to_limit: [50, 50]), alt: "#{member.email}'s avatar", class: "avatar" %>
          <% else %>
          <%= image_tag "default_avatar.png", alt: "user_avatar", class: "avatar" %>
          <% end %>
          </li>
          <% end %>
          </ul>
        </small>

      </div>
    </div>
  </div>
<% end %>
