
<h1 class="title"><%= @group.title %></h1>
<p><%= @group.description %></p>

<h2>Membres actuels</h2>

<ul>
  <% @members.each do |member| %>
    <li>
        <% if member.avatar.attached? %>
          <%= image_tag member.avatar.variant(resize_to_limit: [50, 50]), alt: "#{member.name}'s avatar", class: "avatar" %>
        <% else %>
          <%= image_tag "default_avatar.png", alt: "user_avatar", class: "avatar" %>
        <% end %>
    </li>
  <% end %>
</ul>

  <%= @group.description %></p>

  <% if @group.cover_banner.attached? %>
  <%= cl_image_tag @group.cover_banner.key %>
  <% end %>



<div data-controller="clipboard" data-clipboard-success-content-value="Lien copié !">
  <input type="hidden" value="<%= invite_groups_url(invite_token: @group.invite_token) %>" data-clipboard-target="source" />
  <button type="button" class="btn btn-light shadow-sm" data-action="clipboard#copy" data-clipboard-target="button">
    <i class="fa-regular fa-copy"></i>
    Copier le lien d'invitation
  </button>
</div>

<%= link_to "Budget", poll_path(@budget_poll) %>
<%= link_to "Destination", poll_path(@destination_poll) %>
<%= link_to "Dates", poll_path(@dates_poll) %>
