<%= render "shared/confetti" %>
<div class="main-container cont-group-show-big">
  <h1 class="title"><%= @group.title.capitalize %></h1>


  <div class="cover">
    <% if @group.cover_banner.attached? %>
      <%= cl_image_tag @group.cover_banner.key, class: "cover-group-image" %>
    <% end %>
  </div>

  <div class="members">
    <div class="group-members">
      <h5 class="title">Membres actuels</h5>
    </div>

    <div class="container-avatar">
      <div class="avatars-show-group">
        <% @members.each_with_index do |member, i| %>
          <div class="avatar-large" style="transform: translateX(-<%= i * 50 %>%); z-index: <%= -i %>">
            <% if member.avatar.attached? %>
              <%= image_tag member.avatar.variant(resize_to_limit: [500, 500]), alt: "#{member.email}'s avatar", class: "avatar-group" %>
            <% else %>
              <%= image_tag "default_avatar.png", alt: "user_avatar", class: "avatar-group" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="menu">
        <% if @owner == current_user %>
          <div data-controller="menu" class="menu-icon">
            <i class="fa-solid fa-ellipsis-vertical" data-action="click->menu#toggle"></i>
            <div class="dropdown-menu" data-menu-target="dropdown">
              <a href="#">
                <div data-controller="clipboard" data-clipboard-success-content-value="Lien copié !">
                  <input type="hidden" value="<%= invite_groups_url(invite_token: @group.invite_token) %>" data-clipboard-target="source" />
                  <button type="button" class="btn btn-light shadow-sm mt-8" data-action="clipboard#copy" data-clipboard-target="button">
                    <i class="fa-regular fa-copy"></i>
                    Copier le lien d'invitation
                  </button>
                </div>
              </a>
              <%= link_to "Supprimer le groupe.",
                group_path(@group),
                data: {turbo_method: :delete, controller: "confirm", confirmMessageValue: "Êtes-vous sûr de vouloir supprimer ce groupe ?" },
              "data-action": "confirm#confirm" %>
              <%= link_to "Modifier le groupe.", edit_group_path(@group) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>

  <container class="text-cont">
    <div class="container-card-group-description">
      <p class="desc"><%= @group.description %></p>
    </div>
  </container>


  <div class="go-to-polls">
    <div class="grid">
      <div class="row-icon">
        <div class="budget-poll-button">
          <%= link_to poll_path(@budget_poll), class: "icon-link" do %>
            <i class="fa-solid fa-sack-dollar"></i>
          <% end %>
        </div>

        <div class="destination-poll-button">
          <%= link_to poll_path(@destination_poll), class: "icon-link" do %>
            <i class="fa-solid fa-umbrella-beach"></i>
          <% end %>
        </div>
      </div>

      <div class="row-icon">
        <div class="dates-poll-button">
          <%= link_to poll_path(@dates_poll), class: "icon-link" do %>
            <i class="fa-solid fa-calendar"></i>
          <% end %>
        </div>
          <% if @hebergement_poll.present?  %>
        <div class="house-poll-button">
            <%= link_to poll_path(@hebergement_poll), class: "icon-link" do %>
              <i class="fa-solid fa-bed"></i>
            <% end %>
        </div>
          <% else %>
            <div class="house-poll-button disabled">
              <div class="icon-link ">
                <i class="fa-solid fa-bed"></i>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>
  <% @polls.each do |poll| %>
    <% if poll.category != 'hebergement' %>
      <%= render "result_sondage", poll: poll %>
    <% else %>
      <%= render 'result_hebergment', poll: poll %>
    <% end %>
  <% end %>
</div>
