<div class="main-container cont-group-show-big">
  <h1 class="title"><%= @group.title %></h1>


  <div class="cover">
    <% if @group.cover_banner.attached? %>
    <%= cl_image_tag @group.cover_banner.key, class: "cover-group-image" %>
    <% end %>
  </div>

  <div class="members">
    <div class="group-memebers">
      <h5 class="title">Membres actuels</h5>
    </div>

    <div class="container-avatar">
      <div class="avatars">
        <% @members.each_with_index do |member, i| %>
          <% if member.avatar.attached? %>
            <div class="avatar" style="transform: translateX(-<%= i * 50 %>%); z-index: <%= -i %>">
            <%= image_tag member.avatar.variant(resize_to_limit: [10, 10]), alt: "#{member.email}'s avatar", class: "avatar-group" %>
          <% else %>
            <%= image_tag "default_avatar.png", alt: "user_avatar", class: "avatar-group" %>
          <% end %>
        <% end %>
      </div>

      </div>
      <div class="menu">
        <% if @owner == current_user %>
          <div data-controller="menu" class="menu-icon">
            <i class="fa-solid fa-ellipsis-vertical" data-action="click->menu#toggle"></i>
            <div class="dropdown-menu" data-menu-target="dropdown">
              <a href="#">
                <div data-controller="clipboard" data-clipboard-success-content-value="Lien copié !">
                  <input type="hidden" value="<%= invite_groups_url(invite_token: @group.invite_token) %>" data-clipboard-target="source" />
                  <button type="button" class="btn btn-light shadow-sm mt-8" data-action="clipboard#copy" data-clipboard-target="button">
                  <i class="fa-regular fa-copy"></i>
                    Copier le lien d'invitation
                  </button>
                </div>
              </a>
              <%= link_to "Supprimer le groupe.", group_path(@group), data: {turbo_method: :delete } %>
              <%= link_to "Modifier le groupe.", edit_group_path(@group) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

    <container class="text-cont">
    <div class="container-card-group-description">
      <p class="desc"><%= @group.description %></p>
    </div>
  </container>


  <div class="go-to-polls">
    <div class="grid">

      <div class="row-icon">
        <div class="budget-poll-button">
          <%= link_to poll_path(@budget_poll), class: "icon-link" do %>
          <i class="fa-solid fa-sack-dollar"></i>
          <% end %>
        </div>

        <div class="destination-poll-button">
          <%= link_to poll_path(@destination_poll), class: "icon-link" do %>
          <i class="fa-solid fa-umbrella-beach"></i>
          <% end %>
        </div>
      </div>

      <div class="row-icon">
          <div class="dates-poll-button">
            <%= link_to poll_path(@dates_poll), class: "icon-link" do %>
            <i class="fa-solid fa-calendar"></i>
            <% end %>
          </div>

          <div class="house-poll-button">
            <% if @hebergement_poll.present?  %>
              <%= link_to poll_path(@hebergement_poll), class: "icon-link" do %>
                <i class="fa-solid fa-bed"></i>
              <% end %>
            <% else %>
              <i class="fa-solid fa-bed"></i>
            <% end %>

          </div>
      </div>
    </div>
  </div>
  <% @polls.each do |poll| %>
  <%= render "result_sondage", poll: poll %>
  <% end %>

  <div data-controller="clipboard" data-clipboard-success-content-value="Lien copié !">
    <input type="hidden" value="<%= invite_groups_url(invite_token: @group.invite_token) %>" data-clipboard-target="source" />
    <button type="button" class="btn btn-light shadow-sm mt-8" data-action="clipboard#copy" data-clipboard-target="button">
      <i class="fa-regular fa-copy"></i>
      Copier le lien d'invitation
    </button>
  </div>
</div>
