
<h1 class="title"><%= @group.title %></h1>
<p><%= @group.description %></p>

<h2>Membres actuels</h2>

<ul>
  <% @members.each do |member| %>
    <li>
        <% if member.avatar.attached? %>
          <%= image_tag member.avatar.variant(resize_to_limit: [50, 50]), alt: "#{member.email}'s avatar", class: "avatar" %>
        <% else %>
          <%= image_tag "default_avatar.png", alt: "user_avatar", class: "avatar" %>
        <% end %>
    </li>
  <% end %>
</ul>

  <%= @group.description %></p>

  <% if @group.cover_banner.attached? %>
  <%= cl_image_tag @group.cover_banner.key %>
  <% end %>


<%= link_to "Budget", poll_path(@budget_poll) %>
<%= link_to "Destination", poll_path(@destination_poll) %>
<%= link_to "Dates", poll_path(@dates_poll) %>
