<div class="main-container cont-group-show-big">
  <h1 class="title"><%= @group.title %></h1>


  <div class="cover">
    <% if @group.cover_banner.attached? %>
    <%= cl_image_tag @group.cover_banner.key, class: "cover-group-image" %>
    <% end %>
  </div>

  <div class="members">
    <h5 class="title">Membres actuels</h5>
      <ul>
        <% @members.each do |member| %>
          <li>
              <% if member.avatar.attached? %>
                <%= image_tag member.avatar.variant(resize_to_limit: [50, 50]), alt: "#{member.email}'s avatar", class: "avatar" %>
              <% else %>
                <%= image_tag "default_avatar.png", alt: "user_avatar", class: "avatar" %>
              <% end %>
          </li>
        <% end %>
  </div>

    <container class="text-cont">
    <div class="container-card-group-description">
      <p class="desc"><%= @group.description %></p>
    </div>
  </container>


  <div class="container mt-4">
  <h2 class="text-center text-primary">Résultats des sondages</h2>
  <div class="row mt-4 g-3">
    <% @polls.each do |poll| %>
      <div class="col-6 col-md-3">
        <div class="result-card p-3 border border-success rounded text-center">
          <h5 class="text-success">
            Résultat <%= Poll.categories.key(poll.category)&.capitalize || "Inconnu" %>
          </h5>
          <% if poll.results.any? %>
            <% poll.results.each do |answer, percentage| %>
              <p class="result-value mt-2 fw-bold text-primary">
                <%= answer %> - <%= percentage %>%
              </p>
            <% end %>
          <% else %>
            <p class="result-value mt-2 text-danger">Pas encore de résultat</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>




  <div data-controller="clipboard" data-clipboard-success-content-value="Lien copié !">
    <input type="hidden" value="<%= invite_groups_url(invite_token: @group.invite_token) %>" data-clipboard-target="source" />
    <button type="button" class="btn btn-light shadow-sm" data-action="clipboard#copy" data-clipboard-target="button">
      <i class="fa-regular fa-copy"></i>
      Copier le lien d'invitation
    </button>
  </div>

  <div class="go-to-polls">
    <div class="grid">

      <div class="row-icon">
        <div class="budget-poll-button">
          <%= link_to poll_path(@budget_poll), class: "icon-link" do %>
          <i class="fa-solid fa-sack-dollar"></i>
          <% end %>
        </div>

        <div class="destination-poll-button">
          <%= link_to poll_path(@destination_poll), class: "icon-link" do %>
          <i class="fa-solid fa-umbrella-beach"></i>
          <% end %>
        </div>
      </div>

      <div class="row-icon">
          <div class="dates-poll-button">
            <%= link_to poll_path(@dates_poll), class: "icon-link" do %>
            <i class="fa-solid fa-calendar"></i>
            <% end %>
          </div>

          <div class="house-poll-button">
            <% if @hebergement_poll.present?  %>
              <%= link_to poll_path(@hebergement_poll), class: "icon-link" do %>
                <i class="fa-solid fa-bed"></i>
              <% end %>
            <% else %>
              <i class="fa-solid fa-bed"></i>
            <% end %>



          </div>
      </div>
    </div>
  </div>

</div>
