<div class="cont-group-show-big">
  <% if @poll.category == "budget" %>
    <h1 class="title">Sondage budget</h1>
    <div class="destination-poll-button-sondage">
      <i class="fa-solid fa-sack-dollar"></i>
    </div>
  <% elsif @poll.category == "dates" %>
    <h1 class="title">Sondage dates</h1>
    <div class="destination-poll-button-sondage">
      <i class="fa-solid fa-calendar"></i>
    </div>
  <% elsif @poll.category == "destination" %>
    <h1 class="title">Sondage destination</h1>
    <div class="destination-poll-button-sondage">
      <i class="fa-solid fa-umbrella-beach"></i>
    </div>
  <% elsif @poll.category == "hebergement" %>
    <h1 class="title">Sondage hébergement</h1>
    <div class="destination-poll-button-sondage">
      <i class="fa-solid fa-bed"></i>
    </div>
  <% end %>
</div>

<% if @poll.choices.any? %>
  <%= render "poll" do |f| %>
    <div class="sortable-container" data-controller="form">
      <% if @poll.category == "hebergement" %>
        <div data-controller="sortable">
          <p class="instruction">Fais glisser les hébergements pour ordonner tes choix.</p>
          <ul data-sortable-target="list">
            <% @poll.choices.reverse.each do |choice| %>
              <li data-choice-id="<%= choice.id %>"><%= render "choices/cards/#{@poll.category}", choice: choice %></li>
            <% end %>
          </ul>
          <%= f.collection_radio_buttons :choice_id, @poll.choices, :id, :answer, item_wrapper_tag: :div do |b| %>
            <span style="display: none">
            <%= b.radio_button %>
            <%= b.label %>
            </span>
          <% end %>
        </div>
      <% else %>
        <ul class="ul-result">
          <%= f.collection_radio_buttons :choice_id, @poll.choices.reverse, :id, :answer, item_wrapper_tag: :div do |b| %>
            <li data-action="click->form#click" data-choice-id="<%= b.object.id %>"><%= render "choices/cards/#{@poll.category}", choice: b.object, button: b %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
<% end %>
