<% if @poll.choices.any? %>
  <%= render "poll" do |f| %>
    <div class="sortable-container" data-controller="form">
      <% if @poll.category == "hebergement" %>
        <div data-controller="sortable">
          <ul data-sortable-target="list">
            <% @poll.choices.each do |choice| %>
              <li data-choice-id="<%= choice.id %>"><%= render "choices/cards/#{@poll.category}", choice: choice %></li>
            <% end %>
          </ul>
          <%= f.collection_radio_buttons :choice_id, @poll.choices, :id, :answer, item_wrapper_tag: :div do |b| %>
            <span style="display: none">
            <%= b.radio_button %>
            <%= b.label %>
            </span>
          <% end %>
        </div>
      <% else %>
        <ul>
          <%= f.collection_radio_buttons :choice_id, @poll.choices, :id, :answer, item_wrapper_tag: :div do |b| %>
            <li data-action="click->form#click" data-choice-id="<%= b.object.id %>"><%= render "choices/cards/#{@poll.category}", choice: b.object, button: b %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
<% end %>
