<%# liste des choices (choix des users) + lien vers la new de choice %>
<%# ensuite => overlay %>
<div class="container-card">
  <h1 class="title"><%= @poll.title %></h1>


  <% if user_signed_in? && @poll.group.owner == current_user %>
    <%= render "choices/forms/#{@poll.category}", choice: Choice.new, poll: @poll %>
    <% if @poll.choices.any? %>
      <ul data-controller="sortable">
        <% @poll.choices.each do |choice|%>
          <li><%= render "choices/cards/#{@poll.category}", choice: choice %></li>
        <% end %>
      </ul>
      <%= render "poll" %>
    <% end %>
  <% else %>
    <% @poll.choices.each do |choice|%>
      <%= render "choices/cards/#{@poll.category}", choice: choice %>
    <% end %>
    <%= render "poll" %>
  <% end %>
</div>
<%#

    <li>toto</li>
    <li>tata</li>
    <li>tutu</li>
  </ul> %>
