<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Trip Mates" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="manifest" href="/manifest.json">
     <%= favicon_link_tag asset_path('logo.png') %>
    <link rel="icon" href="/logo.png" type="image/png">
    <link rel="icon" href="/logo.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/logo.png">
      <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
      <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css", media: "all" %>

    <%= javascript_importmap_tags %>
  </head>


  <body>
    <%= render "layouts/header" %>
    <div class="main-container container-fluid">
      <%= render "shared/flashes" %>
      <%= yield %>
      <div class="footer" style="max-width: 374px;">
        <%= render "layouts/footer" %>
      </div>
    </div>
  </body>
</html>
